Package: aksw-deb-util-tomcat7
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: Utils for setting up AKSW Debian packages
Distribution: ldstack-nightly
